header.page-header
	a.page-header__logo
		picture
			source(media="(min-width: 1200px)" srcset="assets/img/logotype-desktop.svg")
			source(media="(min-width: 768px)" srcset="assets/img/logotype-tablet.svg")
			img(src="assets/img/logotype-mobile.svg" width="370" height="153" alt="Барбершоп «Бородинский»")
	nav.main-nav.main-nav--closed.main-nav--nojs
		button.main-nav__toggle(type="button")
			span.visually-hidden Открыть меню
		.main-nav__wrapper
			ul.main-nav__list.site-list
				li.site-list__item
					a(href="index.html") Главная
				li.site-list__item.site-list__item--active
					a(href="photo.html") Наши работы
				li.site-list__item
					a(href="form.html") Записаться
				li.site-list__item
					a(href="#") Контакты
				li.site-list__item
					a(href="#") WebAiKiDo
			ul.main-nav__list.user-list
				li.user-list__item
					a.user-list__login(href="login.html")
						svg.user-list__login-icon(width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16")
							polygon(points='0 7 7.01 7 7.01 4.06 10.96 8.01 7.01 11.91 7.01 9.06 0 9.02 0 7')
							polygon(points='7.01 0 7.01 2 14.03 2 14.03 13.99 7.01 13.99 7.01 16 16 16 16 0 7.01 0')
						| Войти
main.inner-page 
	header.portfolio__header
		h2.porfolio__title.visually-hidden Наши работы
		h1.portfolio__slogan Наши работы
		a.button.button--home(href="index.html") На главную
	section.portfolio
		article.portfolio__item.portfolio__item--work-of-month
			p.portfoli-item__image-wrapper
				picture
					source(media="(min-width: 1200px)", srcset="assets/img/photo-1-desktop.jpg")
					source(media="(min-width: 768px)", srcset="assets/img/photo-1-tablet.jpg")
					img.portfolio__foto(src="assets/img/photo-1-mobile.jpg", alt="Лжепётр Мчиславский")
			.portfolio__desc
				b.portfolio__item_name Лжепётр Мчиславский
				p.portfolio__feedback Где я&nbsp;только ни&nbsp;стригся, но&nbsp;так как делаете это вы&nbsp;&mdash; не&nbsp;умеет никто другой! Еще раз спасибо и&nbsp;до скорого!
				ul.portfolio__service-list
					li.portfolio__service-item.portfolio__service-item--cut Стрижка
					li.portfolio__service-item.portfolio__service-item--beard Бритьё
					li.portfolio__service-item.portfolio__service-item--mustache Усы
		article.portfolio__item
			p.portfoli-item__image-wrapper
				picture
					source(media="(min-width: 1200px)", srcset="assets/img/photo-2-desktop.jpg")
					source(media="(min-width: 768px)", srcset="assets/img/photo-2-tablet.jpg")
					img.portfolio__foto(src="assets/img/photo-2-mobile.jpg", alt="Саша Мальцев")
			.portfolio__desc
				b.portfolio__item_name Саша Мальцев
				p.portfolio__feedback Попросил омолодить и&nbsp;омолодили! Кто теперь скажет, что мне 45?
				ul.portfolio__service-list
					li.portfolio__service-item.portfolio__service-item--cut Стрижка
		article.portfolio__item
			p.portfoli-item__image-wrapper
				picture
					source(media="(min-width: 1200px)", srcset="assets/img/photo-3-desktop.jpg")
					source(media="(min-width: 768px)", srcset="assets/img/photo-3-tablet.jpg")
					img.portfolio__foto(src="assets/img/photo-3-mobile.jpg", alt="Владимир Иваныч")
			.portfolio__desc
				b.portfolio__item_name Владимир Иваныч
				p.portfolio__feedback К зимнему сезону — готов!
				ul.portfolio__service-list
					li.portfolio__service-item.portfolio__service-item--beard Бритьё
					li.portfolio__service-item.portfolio__service-item--mustache Усы
		article.portfolio__item
			p.portfoli-item__image-wrapper
				picture
					source(media="(min-width: 1200px)", srcset="assets/img/photo-4-desktop.jpg")
					source(media="(min-width: 768px)", srcset="assets/img/photo-4-tablet.jpg")
					img.portfolio__foto(src="assets/img/photo-4-mobile.jpg", alt="Винстон Синий")
			.portfolio__desc
				b.portfolio__item_name Винстон Синий
				p.portfolio__feedback Как только заростаю и&nbsp;волосы начинают мешать видеть&nbsp;&mdash; бегом в&nbsp;Бородинский!
				ul.portfolio__service-list
					li.portfolio__service-item.portfolio__service-item--cut Стрижка
	section.price
		.price__wrapper
			b.price__title Прескурант
			.price__columns
				table.price__table
					tr
						td.price__col-1 1
						td.price__col-2 Классическая стрижка
						td.price__col-3
							span.price__bkt (
							| с мытьём головы
							span.price__bkt )
						td.price__col-4 1500 руб.
					tr
						td.price__col-1 2
						td.price__col-2 Современный вариант
						td.price__col-3
							span.price__bkt (
							| с мытьём головы
							span.price__bkt )
						td.price__col-4 1500 руб.
					tr
						td.price__col-1 3
						td.price__col-2 Индивидуальный подход
						td.price__col-3
							span.price__bkt (
							| с мытьём головы
							span.price__bkt )
						td.price__col-4 2000 руб.
					tr
						td.price__col-1 4
						td.price__col-2 Бритьё головы
						td.price__col-3
							span.price__bkt (
							| без мытья головы
							span.price__bkt )
						td.price__col-4 500 руб.
					tr
						td.price__col-1 5
						td.price__col-2 Бритьё головы
						td.price__col-3
							span.price__bkt (
							| с мытьём головы
							span.price__bkt )
						td.price__col-4 1000 руб.
				.price__discount
					p.price__discount-desc C&nbsp;10:00 до&nbsp;14:00 скидка 20%
	footer.page-footer
		.page-footer__wrapper
			.page-footer__contacts.contacts
				b.contacts__title Барбершоп «Бородинский»
				p.contacts__text г. Санкт-Петербург, ул. Большая Конюшенная 19/8<br>
					a.contacts__phone.button(href="tel:+78123456780")
						span.contacts__phone-mobile Тел.:
						| +7(812)345-67-80
			.page-footer__social.social
				b.social__title Давайте дружить!
				ul.social__list
					li.social__item
						a.social__link.social__link--vkontakte(href="#") Мы в Вконтакте	
					li.social__item
						a.social__link.social__link--facebook(href="#") Мы в Фейсбуке
					li.social__item
						a.social__link.social__link--twitter(href="#") Мы в Инстаграме
			.page-footer__copyright.copyright
				b.copyright__text Разработано:
				a.button.copyright__link(href="#") WebAiKiDo
