.page-footer {
  background-color: #292929;
}

.page-footer__wrapper {
  position: relative;

  padding-top: 66px;
  padding-bottom: 23px;

  width: auto;
}
.page-footer__contacts {
  margin: 0 20px;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.contacts__title{
	margin-bottom: 10px;
	color: #ffffff;
}
.contacts__phone-mobile{
	display: none;
}
.contacts__phone{
	width: 100%;
	margin-top: 20px;
	color: #ffffff;
	background-color: #292929;
	border: 1px solid #3f3f3f;

}
.social__title{
	display: none;
}
.social__list{
	display: flex;
	flex-direction: row;
	//justify-content: space-around;
	padding: 0;
	font-size: 0;
	list-style: none;
}
.social__item{
	width: 100%;
	border: 1px solid #3f3f3f;
	padding-top: 20px;
	padding-bottom: 30px;
	&:hover{
		border: 1px solid #ffffff;
	}
}
.social__link{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;

	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;

}
.social__link--vkontakte{
	background-position: 5px -295px;

}
.social__link--facebook{
	background-position: 5px 0px;
}
.social__link--twitter{
	background-position: 5px -100px;
}
.page-footer__copyright{
	padding-top: 20px;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}
.copyright__link{
	width: 100%;
	margin-top: 10px;
	color: #ffffff;
	background-color: #292929;
	border: 1px solid #3f3f3f;
}
.copyright__text{
	font-weight: lighter;
}
@media (min-width: $tablet-width){
	.page-footer__wrapper{
		width: 84%; /*640px / 768px ~= 84%*/
    	max-width: 1200px;
    	margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: 75px;
		margin-right: 75px;
		padding-bottom: 59px;
	}
	.page-footer__social{
		order: 2;
		width: 100%;
		//justify-content: center;
	}
	.page-footer__contacts{
		margin: 0;
		text-align: left;
		//flex-basis: 50%;
	}
	.page-footer__copyright{
		padding: 0;
		width: 160px;
		//flex-basis: 40%;
	}
	.social__list{

		//align-content: stretch;
		//justify-content: center;
	}
	.contacts__title{
		text-transform: uppercase;

	}
	.contacts__phone-mobile{
	display: inline;
	text-transform: capitalize;
	}
	.contacts__phone{
		border: none;
		margin: 0;
		text-transform: lowercase;
		text-align: left;
		font-weight: lighter;
		line-height: 20px;
		pointer-events: none;
		cursor: default;

	}
	.contacts__text{
		margin: 0;
		margin-top: 15px;

	}
}
@media (min-width: $desktop-width){
	.page-footer__wrapper{
	width: 80%; /*960px / 1200px = 80%*/
    max-width: 2000px;
	margin: 0 auto;
    display: flex;
    //text-align: center;
    justify-content: space-between;



	}
	.page-footer__social{
		order: 0;
		width: auto;
		margin-right: 150px;
	}
	.social__item{
		width: 50px;
		height: 50px;
		padding: 0;
		margin-left: 6px;
	}
	.social__title{
	display:block;
	margin-left: 30px;
	margin-bottom: 20px;
	font-weight: 100;

	}
	.social__link{
	//justify-content: center;

	}
	.social__list{
		//justify-content: center
	}
	.social__link--vkontakte{
		background-position: 8px -340px;

	}
	.social__link--facebook{
		background-position: 11px -54px;
	}
	.social__link--twitter{
		background-position: 7px -150px;
	}
}