/*.portfolio{
	padding-top: 30px;
	padding-bottom: 34px;
	margin-left: 20px;
	margin-right: 20px;
}
.inner-page{
	background-color: #f8f5f2;
	color: #000;
}
.portfolio__slogan{
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

}
.button--home{
	display: none;
}
.portfolio__header{
	text-align: center;
	margin-bottom: 20px;
}*/
.inner-page{
	background-color: #f8f5f2;
	color: #000;
}
.portfolio__header{
	margin: 0 auto;
	padding: 30px 0px;
	color: #000;
	text-transform: uppercase;
}
.button--home{
	display: none;
}
.portfolio__slogan{
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
.portfolio{
	position: relative;
	padding-bottom: 14px;
}
.portfolio::after{
	content: "";
    position: absolute;
    right: 0;
    bottom: -34px;
    z-index: 10;
    width: 100%;
    height: 34px;
    background-image: linear-gradient(to top right, transparent 50%, #f8f5f2 50%), linear-gradient(to top left, transparent 50%, #f8f5f2 50%);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 50.2% 100%;
}
.portfolio__item{
	margin-bottom: 20px;
	color: #000;
	padding: 0 20px;

}
.portfolio__item--work-of-month{
	position: relative;
}
.portfolio__item--work-of-month .portfoli-item__image-wrapper{
	height: 480px;
}
.portfoli-item__image-wrapper{
	text-align: center;
	background-color: #e6ded6;
	margin-bottom: 0;
	height: 176px;
}
.portfolio__item--work-of-month{
	position: relative;
}
.portfolio__item--work-of-month::before{
	content:"Работа месяца";
	position: absolute;
	top: 401px;
	left: 20px;
	background-color: #826550;
	width: 140px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 11px;
	padding-left: 16px;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

}
.portfolio__item--work-of-month::after{
	content:"";
	position: absolute;
	top: 401px;
	left: 180px;
	width: 16px;
	height: 50px;
	background-image: linear-gradient(to top left, transparent 50%, #826550 50%), linear-gradient(to top right, #826550 50%, transparent 50%);
}
.portfolio__desc{
	border: 1px solid #e5ddd5;
	border-top: none;
	padding-bottom: 0;
	padding-top: 19px;
	padding-right: 21px;
	padding-left: 21px;
}
.portfolio__item_name{
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 24px;
	line-height: 27px;
	font-weight: bold;
}
.portfolio__feedback{
	margin: 0;
	margin-bottom: 16px;
}
.portfolio__service-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: auto;
	padding: 0;
	list-style: none;
}
.portfolio__service-item{
	position: relative;
    width: auto;
    margin-bottom: 15px;
    margin-right: 30px;
    padding-left: 36px;
    font-size: 16px;
    text-transform: uppercase;
}
.portfolio__service-item::before{
	content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 45px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-30%, -50%);
}
.portfolio__service-item--cut::before{
	background-image: url("../img/scissors-icon.svg");

}
.portfolio__service-item--beard::before{
	background-image: url("../img/beard-icon.svg");

}
.portfolio__service-item--mustache::before{
	background-image: url("../img/mustache-icon.svg");
}
.portfolio__item{
	margin-bottom: 20px;
	padding: 0 20px;
	color: #000;
}
.price{
	position: relative;
    padding-top: 70px;
    padding-bottom: 19px;
    color: #ffffff;
    background-color: #353535
}
.price::after{
	content: "";
    position: absolute;
    right: 0;
    bottom: -34px;
    z-index: 10;
    width: 100%;
    height: 34px;
    background-image: linear-gradient(to top right, transparent 50%, #353535 50%), linear-gradient(to top left, transparent 50%, #353535 50%);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 50.2% 100%;
}
.price__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
.price__title {
  display: block;
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.price__table{
  display: block;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 27px;
  tbody {
    display: block;
  }
  tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 20px;
  }
  td {
    display: block;
    padding: 0 5px;
  }
  .price__col-1 {
    display: none;
  }

  .price__col-2 {
    padding-left: 0;
    font-weight: bold;
  }
  .price__col-3 {
    order: 4;
    width: 100%;
    padding-left: 0;
  }
  .price__col-4 {
    padding-right: 0;
  }
}
.price__discount {
  position: relative;
  height: 48px;
  padding: 20px 10px;
  padding-left: 110px;

  border: 1px solid #4a4a4a;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    width: 57px;
    height: 57px;

    border-radius: 50%;
    background-image: url(../img/clock_illustration.svg);
    background-repeat: no-repeat;

    transform: translateY(-50%);
  }
.price__discount-desc {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-right: 35px;

  font-size: 20px;
}
}