/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

body{
	min-width: 320px;
	font-size: 18px;
	line-height: 27px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #f7f4f1; 
	font-style: normal;
	background-color: $bg-darkgrey;
  margin: 8px;
}
/*img{
	max-width: 100%;
	height: auto;
}*/
table{
  border-collapse: collapse;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main{
 background-color: $bg-darkgrey;
}

.slider {
  position: relative;
}

.slider__toggles {
  position: absolute;
  height: 10px;

  text-align: center;
  font-size: 0;
}

.slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 23px;

  vertical-align: top;

  border: 1px solid #cccccc;

  transform: rotate(45deg);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.slider__item {
  display: none;
}

.slider__input {
  display: none;
}
